body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background-color: #F3F2ED ;
}

/* startscherm */
.lefttop {
    position: relative;
    float: left;
    font-size: 300%;
}

.xp {
    position: relative;
    float: right;
    top: 20px;
    font-size: 200%;  
}

.righttop {
    position: relative;
    float: right;
    font-size: 300%;
    color: purple;
}

.imgb {
    z-index: -1;
    position: relative;
    top: -130px;
    height: 1000px;
}

.hersen {
    z-index: -1;
    position: absolute;
    top: 410px;
    left: 250px;
    height: 400px;
}

.inverted {
    background-color: #F3F2ED;
    position: absolute;
    top: 740px;
    width: 1550px;
    height: 900px;
    border-radius: 50%;
    left: -490px;
  }

  .o {
      position: absolute;
      top: 790px;
      left: 90px;
      color: purple;
      font-size: 500%;
  }

  .tijd {
    position: absolute;
    top: 830px;
    left: 150px;
    font-size: 300%;
  }

  .min {
    position: absolute;
    top: 840px;
    left: 250px;
  }






  .teams1 {
    position: absolute;
    top: 30px;
    left: 50px;
    color: purple;
    font-size: 300%;
  }

  .XP {
    position: absolute;
    top: 60px;
    left: 600px; 
    font-size: 150%;
    text-decoration: underline;
  }

  .T { 
    position: absolute;
    top: 180px;
    left: 60px;
    font-size: 170%;
  }

  .bekijk {
    position: absolute;
    top: 230px;
    left: 60px;
    color: purple;
    font-size: 170%;  
  }

  .team {
    position: absolute;
    top: 300px;
    left: 300px; 
    font-size: 150%;
    text-decoration: underline;
  }

/* witte vlakken */

  #ranglijst {
    z-index: 1;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FFFFFF;
    height: 510px;
    width: 80%;
    left: 10%;
    position: absolute;
    right: 10%;
    padding: 10px;
    margin-top: 0px;
    }


    #medailles {
      z-index: -1;
      border-radius: 30px;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #FFFFFF;
      height: 1400px;
      width: 80%;
      left: 10%;
      position: absolute;
      right: 10%;
      padding: 10px;
      margin-top: 620px;
    }

    #doneren {
      border-radius: 30px;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #FFFFFF;
      height: 510px;
      width: 80%;
      left: 10%;
      position: absolute;
      right: 10%;
      padding: 10px;
      margin-top: 1500px;
    }

    #stats {
      border-radius: 30px;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #FFFFFF;
      height: 340px;
      width: 80%;
      left: 10%;
      position: absolute;
      right: 10%;
      padding: 10px;
      margin-top: 2100px;
    }
    


.m1 {
    position: absolute;
    top: 0px;
    left: 50px;
    color: purple;
    font-size: 260%;
}

/* tekst onder medailles */
.hiker {
  position: absolute;
  top: 430px;
  left: 120px;
  font-size: 160%;
}
.hikerh {
  position: absolute;
  top: 390px;
  left: 170px;
  font-size: 180%;
}
.reeks {
  position: absolute;
  top: 430px;
  left: 450px;
  font-size: 160%;
}
.reeksh {
  position: absolute;
  top: 390px;
  left: 500px;
  font-size: 180%;
}
.hart {
  position: absolute;
  top: 860px;
  left: 140px;
  font-size: 160%;
}
.harth {
  position: absolute;
  top: 830px;
  left: 160px;
  font-size: 160%;
}
.vroeg {
  position: absolute;
  top: 860px;
  left: 450px;
  font-size: 160%;
}
.vroegh {
  position: absolute;
  top: 830px;
  left: 460px;
  font-size: 160%;
}
.actief {
  position: absolute;
  top: 1270px;
  left: 120px;
  font-size: 160%;
}
.actiefh {
  position: absolute;
  top: 1230px;
  left: 150px;
  font-size: 160%;
}
.weetjes {
  position: absolute;
  top: 1270px;
  left: 460px;
  font-size: 160%;
}
.weetjesh {
  position: absolute;
  top: 1230px;
  left: 480px;
  font-size: 160%;
}

/* medailles */

.img {
  position: absolute;
  top: 120px;
  left: 50px;
  height: 300px;
  width: 300px;
}

.img1{
  position: absolute;
  top: 110px;
  left: 400px;
  height: 300px;
  width: 300px;
}
.img2 {
  position: absolute;
  top: 550px;
  left: 50px;
  height: 300px;
  width: 300px;
}
.img3 {
  position: absolute;
  top: 550px;
  left: 400px;
  height: 300px;
  width: 300px;
}
.img4 {
  position: absolute;
  top: 950px;
  left: 50px;
  height: 300px;
  width: 300px;
}
.img5 {
  position: absolute;
  top: 950px;
  left: 400px;
  height: 300px;
  width: 300px;
}



.doneer {
  position: absolute;
  top: 0px;
  left: 50px;
  font-size: 260%;
  color: purple;
}

.dtext {
  position: absolute;
  top: 80px;
  left: 50px;
  font-size: 260%;
}

.buttond {
  position: absolute;
  top: 400px;
  left: 220px;
  background-color: orange;
  border-radius: 100px;
  color: white;
}


.texts {
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 260%;
  color: purple
}
/* buttons */
.buttons {
  position: absolute;
  top: 200px;
  left: 160px;
  background-color: orange;
  border-radius: 100px;
  color: white;
}

.buttono {
  position: absolute;
  top: 100px;
  left: 160px;
  background-color: purple;
  border-radius: 100px;
  color: white;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 200%;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 330px;
  top: 1000px;
  border-radius: 50px;
}

.button1 {
  background-color: purple;
}

.button2 {
  background-color: orange;
  position: absolute;
  top: 420px;
  left: 240px;
}

.button3 {
  background-color: purple;
  position: absolute;
  top: 120px;
  left: 180px;
}

.button4 {
  background-color: orange;
  position: absolute;
  top: 220px;
  left: 180px;
}

.but {
  border: none;
  color: white;
  padding: 30px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 200%;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 140px;
  top: 500px;
  border-radius: 50%;
  background-color: purple;
}

.stopbtn {
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10%;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 162px;
  top: 520px;
}

.material-icons {
  position: absolute;
  background-color: #F3F2ED;
  left: 165px;
  top: 520px;
  font-size: 150%;
}

/* Pagina die laad als je op start ommetje klikt */

.imgs {
    z-index: -1;
    position: absolute;
    top: 0px;
    height: 320px;
    width: 360px;
}

.times {
  position: absolute;
  left: 100px;
  top: 300px;
  font-size: 300%;
}

.time20 {
  position: absolute;
  left: 230px;
  top: 335px;
  color: grey;
  font-size: 150%;
}








/* footer */

.footer {
  position: absolute;
  top: 2700px;
  background-color: purple;
  width: 100%;
  height: 340px;
  color: #F3F2ED;
  font-size: 200%;
  text-indent: 0px;
}









/* popup medailles */

.ontop {
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  position: absolute;				
  background-color: white;
  color: black;
  border-radius: 100px;
}

#popup {
  width: 200px;
  height: 150px;
  position: absolute;
  color: #000000;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
}

.hide {
  position: absolute;
  top: 1300px;
  left: 350px;
  font-size: 250%;
  color: purple;
}

/* hiker popup */
.puhiker {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 110px;
  left: 55px;
}

.teksthikerh {
  font-size: 300%;
  position: absolute;
  left: 50px;
  top: 20px;
}

.teksthikerp {
  font-size: 200%;
  position: absolute;
  left: 50px;
  top: 100px;
}

.hiker1 {
  position: absolute;
  left: 50px;
  top: 300px;
  width: 150px;
}
.hiker2 {
  position: absolute;
  left: 500px;
  top: 300px;
  width: 150px;
}
.hiker3 {
  position: absolute;
  left: 280px;
  top: 300px;
  width: 150px;
}
.hiker4 {
  position: absolute;
  left: 50px;
  top: 550px;
  width: 150px;
}
.hiker5 {
  position: absolute;
  left: 280px;
  top: 550px;
  width: 150px;
}
.hiker6 {
  position: absolute;
  left: 500px;
  top: 550px;
  width: 150px;
}
.hiker7 {
  position: absolute;
  left: 50px;
  top: 800px;
  width: 150px;
}
.hiker8 {
  position: absolute;
  left: 280px;
  top: 800px;
  width: 150px;
}
.hiker9 {
  position: absolute;
  left: 500px;
  top: 800px;
  width: 150px;
}

.teksthiker4{
  font-size: 200%;
  position: absolute;
  left: 100px;
  top: 230px;
}
.teksthikerbrons {
  font-size: 200%;
  position: absolute;
  left: 80px;
  top: 420px;
}

.teksthiker15 {
  font-size: 200%;
  position: absolute;
  left: 325px;
  top: 230px;
}
.teksthikerzilver {
  font-size: 200%;
  position: absolute;
  left: 315px;
  top: 420px;
}

.teksthiker35 {
  font-size: 200%;
  position: absolute;
  left: 550px;
  top: 230px;
}
.teksthikergoud {
  font-size: 200%;
  position: absolute;
  left: 540px;
  top: 420px;
}

.teksthiker55 {
  font-size: 200%;
  position: absolute;
  left: 95px;
  top: 480px;
}
.teksthikerrobijn {
  font-size: 200%;
  position: absolute;
  left: 80px;
  top: 670px;
}

.teksthiker75 {
  font-size: 200%;
  position: absolute;
  left: 325px;
  top: 480px;
}
.teksthikersaffier {
  font-size: 200%;
  position: absolute;
  left: 310px;
  top: 670px;
}

.teksthiker100 {
  font-size: 200%;
  position: absolute;
  left: 540px;
  top: 480px;
}
.teksthikerdiamant {
  font-size: 200%;
  position: absolute;
  left: 520px;
  top: 670px;
}

.teksthiker200 {
  font-size: 200%;
  position: absolute;
  left: 90px;
  top: 730px;
}
.teksthikersmaragd {
  font-size: 200%;
  position: absolute;
  left: 70px;
  top: 910px;
}

.teksthiker300 {
  font-size: 200%;
  position: absolute;
  left: 320px;
  top: 730px;
}
.teksthikeramethist {
  font-size: 200%;
  position: absolute;
  left: 300px;
  top: 910px;
}

.teksthiker400 {
  font-size: 200%;
  position: absolute;
  left: 540px;
  top: 730px;
}
.teksthikerparelmoer {
  font-size: 200%;
  position: absolute;
  left: 510px;
  top: 910px;
}




